{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile — Trigteam Cinema{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container" style="width: 500px;">
    <div class="row main">
        <h1>User info</h1>
        <p>Username: {{ username }}</p>
        <hr>
        <table class="">
            <tbody>
            {% for obj in booking%}
                <tr>
                    <th>
                        <span>
                            <div style="padding:0 2em 0 0">
                                <a href="#"> {{ obj.title }} </a>
                            </div>
                        </span>
                    </th>
                    <td>
                        <a href="#" rel="#">{{ obj.time }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}