{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Trigteam Cinema — St.Petersburg{% endblock %}
{% block style %}<link rel="stylesheet" href="{% static '../static/catalog/style.css' %}"/>{% endblock %}
{% block content %}
<div class="container">
    {% if movie_list %}
        <ul class="flex-container">
            {% for movie in movie_list %}
                <div class="flex-item">
                    <a href="/movie/{{ movie.id }}/">
                        <img class="poster" src="{{ movie.poster.url }}"/><br>
                        <p class="title">{{ movie.title }}</p>
                    </a>
                </div>
            {% endfor %}
        </ul>
    {% else %}
        <p>No movies are available.</p>
    {% endif %}
</div>
<script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/tether.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/bootstrap.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
{% endblock %}
{% block footer %}
{% endblock %}