{% extends "base.html" %}
{% load staticfiles %}
{% block title %}About — Trigteam Cinema{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'info/style.css' %}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row col-lg-11 col-centered">
        <div class="col-lg-11 col-centered">
            <h2 >Кинотеатр {{ cinema_info.name }}</h2>
        </div>
    </div>
    <div class="row col-lg-11 col-centered">
        <div class="row col-lg-11 col-centered">
            <h5> {{ cinema_info.header_text }}</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <p>{{ cinema_info.main_text }}</p>
        </div>
    </div>
</div>
<script src='{% static 'js/jquery.min.js' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/tether.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
<script src='{% static 'js/bootstrap.min.js.css' %}' , integrity='' , crossorigin='anonymous'></script>
{% endblock %}
{% block footer %}
{% endblock %}