{% load staticfiles %}
{% load ratings %}
<!doctype html>
<html>
<head>
    <title>All films</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="/">Cinema</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Catalog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cinema">About</a>
            </li>
          </ul>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src={{ cur_movie.poster.url }} alt="" width="80%" class="poster">
{#                <p>{{ cur_movie.summary }}</p>#}
            </div>
            <div class="col-md-6">
                <h1>{{ cur_movie.title }}</h1>
                <p>Год: {{ cur_movie.release_date }}</p>
                <p>Страна: USA</p>
                <p>Режисер: {{ cur_movie.director }}</p>
                <p>Актеры: {{ cur_movie.cast }}</p>
                <p>Описание: {{ cur_movie.summary }}</p>
                <h2>Трейлер</h2>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/{{cur_movie.trailer_url}}" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-md-2">
                <h2>Рейтинг</h2>
                {% ratings cur_movie %}
                <h2>Кинопоиск</h2>
                <a href="https://www.kinopoisk.ru/film/{{cur_movie.kinopoisk_id}}">
                    <img src="https://rating.kinopoisk.ru/{{cur_movie.kinopoisk_id}}.gif">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-8">
                <h2>Расписание</h2>
            </div>
        </div>
    </div>
    <script src='{% static 'js/jquery.min.js' %}', integrity='', crossorigin='anonymous'></script>
    <script src='{% static 'js/tether.min.js.css' %}', integrity='', crossorigin='anonymous'></script>
    <script src='{% static 'js/bootstrap.min.js.css' %}', integrity='', crossorigin='anonymous'></script>
</body>
</html>
