{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}
{% block title %}Movie — Trigteam Cinema{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}"/>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <img src={{ cur_movie.poster.url }} alt="" width="80%" class="poster">
        </div>
        <div class="col-md-6">
            <h1>{{ cur_movie.title }}</h1>
            <p>Год: {{ cur_movie.release_date }}</p>
            <p>Страна: USA</p>
            <p>Режисер: {{ cur_movie.director }}</p>
            <p>Актеры: {{ cur_movie.cast }}</p>
            <p>Описание: {{ cur_movie.summary }}</p>
            <h2>Трейлер</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ cur_movie.trailer_url }}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-2">
            <h2>Рейтинг</h2>
            {% ratings cur_movie %}
            <h2>Кинопоиск</h2>
            <a href="https://www.kinopoisk.ru/film/{{ cur_movie.kinopoisk_id }}">
                <img src="https://rating.kinopoisk.ru/{{ cur_movie.kinopoisk_id }}.gif">
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-8">
            <h2>Расписание</h2>
        </div>
    </div>
</div>
{% endblock %}
{% block footer %}
{% endblock %}