{% load staticfiles %}
{% load ratings %}
<!doctype html>
<html>
<head>
    <title>All films</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="/">Cinema</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Catalog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cinema">About</a>
            </li>
          </ul>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2>Расписание</h2>
                <ul class="nav nav-pills">
                {% for date in dateList %}
                    <li class="nav-item">
                        <a class="nav-link" href="/schedule/{{ date }}" id="{{ date }}">{{ date }}</a>
                     </li>
                {% endfor %}
                </ul>
                <hr>
                {% if not seancesExists %}
                    <p>Seances is empty</p>
                {% else %}
                     <table class="">
                        <tbody>
                            {% for movieKey, seanceTimeList in seancesDict.items %}}
                                <tr>
                                    <th>
                                        <span>
                                            <a href="../../movie/{{movieKey.id}}"> {{movieKey.title}} </a>
                                        </span>
                                    </th>
                                    <td>
                                        {% for time in seanceTimeList %}
                                            <a href="./9-00/1">{{ time }}</a>}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% endif %}
{#                <table class="">#}
{#                    <tbody>#}
{#                    {% for dateKey, seancesDictValue in seanses.items %}#}
{#                        {% if dateKey == today %}#}
{#                            {% for titleKey, hallPlusTimeListValue in seancesDictValue.items %}#}
{#                                <tr>#}
{#                                    <th>#}
{#                                        <span>#}
{#                                            <a href="../movie/{{ titleKey.id }}">{{ titleKey }}</a>#}
{#                                        </span>#}
{#                                    </th>#}
{#                                    <td>#}
{#                                        {% for HallPlusTimeObj in hallPlusTimeListValue %}#}
{#                                            {% for HallPlusTimeObj in hallPlusTimeListValue %}#}
{#                                                 {%  for objHallKey, timeValue in HallPlusTimeObj.items %}#}
{#                                                    {{ objHallKey }}#}
{#                                                        <a rel="#">{{ timeValue }}</a>#}
{#                                                 {% endfor %}#}
{#                                            {% endfor %}#}
{#                                        {% endfor %}#}
{#                                    </td>#}
{#                                </tr>#}
{#                            {% endfor %}#}
{#                        {% endif %}#}
{#                    {% endfor %}#}
{#                    </tbody>#}
{#                </table>#}
            </div>
        </div>
    </div>
{#    <script>#}
{#        today_nav = document.getElementById("{{ today }}");#}
{#        today_nav.setAttribute("class","nav-link active");#}
{#    </script>#}
    <script src='{% static 'js/jquery.min.js' %}', integrity='sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7', crossorigin='anonymous'></script>
    <script src='{% static 'js/tether.min.js.css' %}', integrity='sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8', crossorigin='anonymous'></script>
    <script src='{% static 'js/bootstrap.min.js.css' %}', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous'></script>
</body>
</html>
