{% extends "base.html" %}
{% load staticfiles %}
{% load ratings %}
{% block title %}Schedule — Trigteam Cinema{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}"/>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Расписание</h2>
            <ul class="nav nav-pills">
                {% for date in dateList %}
                    <li class="nav-item">
                        <a class="nav-link" href="/schedule/{{ date }}" id="{{ date }}">{{ date }}</a>
                    </li>
                {% endfor %}
            </ul>
            <hr>
            {% if not seancesExists %}
                <p>Seances is empty</p>
            {% else %}
                <table class="">
                    <tbody>
                    {% for movieKey, seanceTimeList in seancesDict.items %}
                        <tr>
                            <th>
                                        <span>
                                            <div style="padding:0 2em 0 0">
                                                <a href="../../movie/{{ movieKey.id }}"> {{ movieKey.title }} </a></div>
                                        </span>
                            </th>
                            <td>
                                {% for time, seance in seanceTimeList %}
                                    <a href="../../booking/{{ seance }}/select/" rel="#">{{ time }}</a>
                                {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </div>
</div>
<script>
    today_nav = document.getElementById("{{ today }}");
    today_nav.setAttribute("class", "nav-link active");
</script>
{% endblock %}
{% block footer %}
{% endblock %}