{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>All films</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}" />
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="/">Cinema</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Catalog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cinema">About</a>
            </li>
          </ul>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <table class="">
            <tbody>
            {% for rowKey, seatList in result.items %}
                <tr>
                    <th>
                        <span>
                            <p>{{ rowKey }}</p>
                        </span>
                    </th>
                        {% for seat in seatList %}
                            <td>{{ seat }}</td>
                        {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <script src='{% static 'js/jquery.min.js' %}', integrity='sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7', crossorigin='anonymous'></script>
    <script src='{% static 'js/tether.min.js.css' %}', integrity='sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8', crossorigin='anonymous'></script>
    <script src='{% static 'js/bootstrap.min.js.css' %}', integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK', crossorigin='anonymous'></script>
</body>
</html>
