{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Account info — Trigteam Cinema{% endblock %}
{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}"/>
    <link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
    <script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
{% endblock %}
{% block content %}
<div style="margin:3em 5em">
    <div class="jumbotron" style="padding-bottom:2em;">
        <h1 class="display-6">Выбранные места успешно забронированы!</h1>
        <p class="lead">Номер вашей брони: {{ booking.id }}</p>
        <hr class="my-2">
        <p>Информация о сеансе:</p>
        <p class="lead">
        <p><b>Фильм</b> — {{ seance.movie.title }}</p>
        <p><b>Время сеанса</b> — {{ seance.start_time }}</p>
        <p><b>Ваши места</b>:
        <div id="seats"></div>
        </p>
        </p>
    </div>
</div>
<script>
    function insertText(super_str) {
        document.getElementById('seats').innerHTML = super_str;
    }
    var seats = "{{ booking.seats }}".replace(/&#39;/g, '"');
    var seats_array = JSON.parse(seats);
    super_str = "";
    for (var seat in seats_array) {
        cur_seat = seats_array[seat].split("_");
        row = cur_seat[0];
        col = cur_seat[1];
        super_str += "Ваш ряд — " + row + " Ваше место — " + col + "<br>";
        insertText(super_str);

    }

</script>
<script src='{% static 'js/jquery.min.js' %}' ,
        integrity='sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7' ,
        crossorigin='anonymous'></script>
<script src='{% static 'js/tether.min.js.css' %}' ,
        integrity='sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8' ,
        crossorigin='anonymous'></script>
<script src='{% static 'js/bootstrap.min.js.css' %}' ,
        integrity='sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK' ,
        crossorigin='anonymous'></script>
{% endblock %}
{% block footer %}
{% endblock %}