{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>All films</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'movie_info/movie_info.css' %}" />

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/flexiseats.css' %}">

</head>

<body>
    <nav class="navbar navbar-light bg-faded">
        <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-toggleable-xs" id="navbar-header">
          <a class="navbar-brand" href="/">Cinema</a>
          <ul class="nav navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="#">Catalog<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/schedule">Schedule</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/cinema">About</a>
            </li>
          </ul>
            <ul class="nav navbar-nav float-xs-right">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-user-circle-o" aria-hidden="true"></i>User</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <div class="legends">
            <input id="legAvailable" type="checkbox" disabled />
            <label for="legAvailable"> Available</label>
            <input id="legAvailable" type="checkbox" data-status="notavailable" disabled />
            <label for="legAvailable"> Not Available</label>
            <input id="legBooked" type="checkbox" data-status="booked" checked disabled />
            <label for="legBooked"> Booked</label>
            <input id="legBooked" type="checkbox" checked disabled />
            <label for="legBooked"> Selected</label>
        </div>


    </div>

    <div id="seats">
    </div>

    <script src='{% static 'js/jquery-2.1.4.min.js' %}'></script>
    <script src='{% static 'js/flexiseats.js' %}'></script>


    <script type="text/javascript">
        var seats = $('#seats').flexiSeats({
            rows: 10,
            columns: 20,
            multiple: false,
            notavailable: ['1-2', '4-3'],
             booked: ['2-3']
            });

        var seats = $('#seats').flexiSeats(
        // options here
        );

        seats.getAvailable();
        seats.getNotAvailable();
        seats.getBooked();
        seats.getSelected();
    </script>

    <script src='{% static 'js/jquery.min.js' %}', integrity='', crossorigin='anonymous'></script>
    <script src='{% static 'js/tether.min.js.css' %}', integrity='', crossorigin='anonymous'></script>
    <script src='{% static 'js/bootstrap.min.js.css' %}', integrity='', crossorigin='anonymous'></script>
</body>
</html>
