.name
{
    color: #333333;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5625;
    margin-bottom: 15px;
}

.div-name
{
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
    /*vertical-align: middle;*/
    /*margin-top: 24px;*/
}